.main {
  margin: 0;
  padding: 140px 0 0 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url('nba_Giannis.png');
}

.content {
  display: flex;
  justify-content: center;
}
.list {
  padding: 100px;
  font-size: 40px;
  color: white;
}