<%= render "shared/header"%>
<div class="main">
  <div class="content">
    <div class="list">
     contents
    </div>
    <ul class="tweet-contents">
      <% if @tweet.present?%>
      <% @tweet.each do |tweet| %>
      
      <% end %>
      <% end %>
    </ul>
  </div>
</div>


