<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <h1>
    <a href="/">B-info</a>
  </h1>
  <nav class="pc-nav">
   <ul class='lists-right'>
      <%# if user_signed_in? %>
        <li><%#= link_to hoge, "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', "#", method: :DELETE, class: "logout" %></li> 
      <%# else %>
        <li><%= link_to 'ログイン', "#", class: "login" %></li>
        <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
      <%# end %>
    </ul>
  </nav>

</header>